.pbox {
    display: grid;
    grid-template-columns: 30% 70%;
/*     max-width: 600px; */
    margin: 0 auto;
}

.pinfo {
    display: inline-block;
    grid-column: 1 / 3;
    grid-row: 1;
    margin: 2em 0 0 2em;
    padding: 1em 0 0 1em;
    z-index: 99;
  width:400px;
}

h1 {
    font: 400 42px Quicksand, Arial, Helvetica, sans-serif;
}

h3 {
    display: inline-block;
    color: rgb(68, 68, 68);
    line-height: 2.0;
    font-size: 14px !important;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    border-bottom: 2px solid #999
}

p {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
}

button {
    display: block;
    padding: 5px 10px;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}

.pcontainer {

    width: 800px;
    margin: 0 auto;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

img {
    width: 100%;
}

.mockup {
    position: relative;
}

.artwork {
    position: absolute;
    width: 607px;
    height: 379px;
    top: 45px;
    left: 94px;
    overflow: scroll;
    overflow-x: hidden;
    /*   overflow: hidden; */
}

.mob {
    display: none;
}

.mobimg {
    display: none;
}


/* .artwork:hover {overflow: auto;} */

@media only screen and (max-width: 675px) {
    .lap {
        display: none;
    }
    .lapimg {
        display: none;
    }
    .mob {
        display: block;
    }
    .mobimg {
        display: block;
    }
    .pcontainer {

        width: 480px;
        margin: 0 auto;
    }
    .artwork {
        position: absolute;
        width: 240px;
        height: 309px;
        top: 85px;
        left: 114px;
        overflow: -moz-scrollable;
        overflow-x: hidden;
         /*overflow: hidden; */
    }
    
}